.home{
  background-image: url("../imgs/backgroundpizza.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}
#home h1{
  color:wheat;
  text-align: center;
  font-size: 70px;
  font-family: 'Combo', ;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* background-color: ghostwhite; */
}
li{
  float: center;
}
li a{
  display: block;
  text-align: center;
  padding: 14px 16px;
  color:wheat;
  font-size: 20px;
  text-decoration: none;
}
li a:hover{
  background-color:whitesmoke;
}
.row{
  position: relative;
  display: flex;
}
h2{
  text-align: center;
  font-size: 30px;

}