.home{
  background-image: url("https://bit.ly/2wgwD6c");
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
}
h1{
  color:ghostwhite;
  text-align: center;
  font-size: 50px;
  font-family: 'Merienda', ;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* background-color: ghostwhite; */
}
li{
  float: center;
}
li a{
  display: block;
  text-align: center;
  padding: 14px 16px;
  color:blueviolet;
  font-size: 20px;
  text-decoration: none;
}
li a:hover{
  background-color:whitesmoke;
}
